@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--secondaryColor);
  background-color: #f3f3f3;
}

@font-face {
  font-family: leagueSpartan;
  src: url(./assets/font/league-spartan-master/LeagueSpartan-Bold.otf);
}
@font-face {
  font-family: uncialantiqua;
  src: url(./assets/font/UncialAntiqua-9mR7.ttf);
}
:root {
  --primaryColor: #000;
  --secondaryColor: #efe5df;
  --menuColor: #4c4f65;
  --menuHover: #000;
  --aboutTextColor: rgb(34, 34, 34);
  --aboutSpanColor: #000;
}
.dark_theme {
  --primaryColor: #efe5df;
  --secondaryColor: #000;
  --menuColor: #b0b2c3;
  --menuHover: #fff;
  --aboutTextColor: #a0a0a0;
  --aboutSpanColor: #fff;
}
